@page
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this site you can follow the latest world news in different languages, and you can also take various tests</p>
</div>
